.container{
    background-color: #dbdbdb;
    padding: 50px;
    margin: 50px;
    color: #252525;
}

.table thead{
    text-decoration: underline;

}

.title{
    margin-bottom: 20px;
    font-weight: 200;
    color: #000;
}

.table{
    width: 100%;
}


.table td{
    padding: 10px;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.userImage{
    object-fit: cover;
    border-radius: 50%;
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #000;
}

.pending{
    background-color: #66440075;
}
.done{
    background-color: #00548875;
}
.cancelled{
    background-color: #99010175;
}