.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn{
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 10px;
}